.is-invisible {
  display: none;
  visibility: hidden;
}
.u-centered {
  left: 50%;
  position: absolute;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.overlay {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  background: #000;
  opacity: 0.6;
}
.modal {
  position: absolute;
  z-index: 9999;

  background: #fff;
}
.loader--modal {
  height: 64px;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: fixed;
  top: 50%;
  width: 64px;
  z-index: 9999;

  background: #191919 url(../img/loader.gif) center center no-repeat;
  border-radius: 10px;
}